*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
*.project
samples-core/.settings/
samples-web/.settings/
*.classpath
.idea/
*.factorypath
*.iml
samples-proxy-consumer/.settings/
samples-clustered/
.settings/
samples-proxy-provider/src/main/resources/vertx-processor-sample-js/
samples-proxy-provider/src/main/generated/org/jspare/vertx/samples/proxy/ProductConverter.java
samples-proxy-provider/src/main/generated/
